/** 
 * Default layout - Painel Web
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */

 @media (min-width: 1920px) {
    #senha-container {
        padding: 30px; /* Ajuste de espaçamento para telas grandes */
    }

    .current-password h2,
    .current-password h1,
    .current-password h3 {
        font-size: 2rem; /* Amplia o texto */
    }

    .current-password .counter {
        font-size: 2.5rem; /* Ajuste para o número */
    }

    .table-container table {
        font-size: 1.5rem; /* Melhora a leitura da tabela */
    }
}

#layout, #layout * { 
    padding: 0;
    margin: 0;
    line-height: 1;
}

/* 
 * Senha Atual - Ultima senha chamada
 */
#mensagem {
    padding-bottom: 0px;
    padding-left: 20px;
}

#mensagem span {
    padding: 10px 29px;
    display: inline-block;
}

#senha {
    font-weight: bold;
   /* text-align: center;*/
}

/* local */

#local {
    text-align: center;
    margin: 0 auto;
}

#local-numero {    
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

/*
 * Ultimas senhas chamadas
 */
#historico {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#historico .senhas {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#historico .senhas div.senha-chamada {
    text-align: center;
    display: inline-block;
}

#historico .senhas div.senha-chamada div.senha { 
    font-weight: bold; 
    text-align: center; 
}

#historico .senhas div.senha-chamada div.local {
    text-align: center;
}


/* cores - atendimento normal */
#layout.normal { background-color: #191919; }
#layout.normal #mensagem span { color: #fff; }
#layout.normal #senha span { color: #eeff00; }
#layout.normal #local span { color: #fff; }
#layout.normal #local-numero span { color: #fff; }
#layout.normal #historico .senhas { background: rgba(0, 0, 0, .4); }
#layout.normal #historico .senhas * { color: #fff; }

/* cores - atendimento prioritario */
#layout.prioridade { background-color: #fff; }
#layout.prioridade #senha-container span { color: #d2322d; }
#layout.prioridade #historico .senhas { background-color: #f1f1f1; }
#layout.prioridade #historico .senhas * { color: #333; }

/* cores - atendimento prioritario quando no historico */
#historico .senhas .prioridade * { color: #d2322d !important; }

/* fonts */


#mensagem span {
    font-size: 5vw;
}

#senha span {
    font-size: 18vw;
}

#local span {
    font-size: 8vw;
}

#local-numero span {
    font-size: 24em;
}

#datahoramin{
	width: 100%;
    position: fixed;
    bottom: 200px;
}

.senha-chamada .senha span {
    font-size: 6vw;
}

.senha-chamada .local span {
    font-size: 5vw;
}
 

/* DATA E HORA */
#layout .container-datahora {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    width: 55%;
    height: 100%;
    border-left: 70px solid transparent;
    border-top: 145px solid #eff2f1;
    display: inline-block;  
}

.clock {
    position: fixed;
    bottom: 295px;
}
.clock ul.time {
    float: left;
    clear: both;
    margin: 10px 0 0 0;
    padding:0px;
    list-style:none;
    text-align:center;
}
.clock ul.time li { 
    display:inline;
    color: #06008A;
    font-size: 8em;
    text-align: center;
}
.container-date {
    position: fixed;
   bottom: 307px;
    right: 20px;
    width: 20%;
}

/* Contêiner do vídeo */
#video-container {
    background-color: #259768;
    width: 100%;
    height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */
    position: relative;
    overflow: hidden; /* Impede que o vídeo ultrapasse a área do contêiner */
}

#video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta o vídeo para caber no contêiner, mas pode deixar espaços vazios */
    object-position: center;
}



#senha-container {
    padding: 10px;
    height: 100vh; /* Altura total */
    overflow-y: auto; /* Permite rolar caso o conteúdo ultrapasse */
    background-color: #ffffff; /* Adiciona um fundo semitransparente (opcional) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#historico {
    margin-top: 10px;
}

.container-date #day { font-weight: bold; color: #06008A; text-transform: uppercase; font-size:3em; text-align:center; }
.container-date #date { padding: 20px 0 0 5px; font-weight: bold; color: #06008A; text-transform: uppercase; font-size:3em; text-align:center; }
.container-date #date span {font-weight: normal; }

#point { position:relative; -moz-animation:animatePoint 1s ease infinite; -webkit-animation:animatePoint 1s ease infinite; padding: 0; }

@-webkit-keyframes animatePoint {
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}
@-moz-keyframes animatePoint {
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}




/* 800x600 */
@media only screen and (max-width: 800px) {
    
    #historico {
        display: none;
    }
    
}

/* painel de senhas novo */

.current-password {
    text-align: center;
    margin-bottom: 30px;
}

.current-password h2 {
    margin: 0;
    font-size: 50px;
    color: #555555;
}

.current-password .password {
    font-size: 130px;
    font-weight: bold;
    color: #2e602f;
    margin: 10px 0;
}

.current-password .type {
    font-size: 50px;
    font-weight: bold;
    color: #5ea160; 
    margin: 0;
}

.current-password h3 {
    margin: 20px 0 0 0;
    font-size: 50px;
    font-weight: bold;
    /* color: #555555 */;
    color: #5ea160; 
}

.current-password .counter {
    font-size: 200px;
    font-weight: bold;
    color: #2e602f;
    margin: 10px 0;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    padding: 10px;
    font-size: 16px;
    color: #555555;
    text-align: left;
}

/* Alinhamento das colunas da tabela */
.align-left {
    text-align: left;
    padding-left: 15px;
    font-size: 30px;
}

.align-center {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.align-right {
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
    font-size: 30px;
}

tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

tbody td {
    padding: 10px;
    font-size: 14px;
    color: #333333;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}